// Custom.scss
// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)

// 2. Include any default variable overrides here
$primary: #000000;
$secondary: #555555;
$gray: #6B6D77;
$lavander: #E6EEFF;
$ghostWhite: #FAFBFF;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "gray": $gray
);

// Custom Colors
$custom-colors: (
    "lavendar": #E6EEFF,
    "ghostWhite": #FAFBFF
);

//Merge maps
$theme-colors: map-merge($theme-colors, $custom-colors );

// 6. Add additional custom code here
@import "./bootstrap/scss/bootstrap";
// Custom.scss

// Include any default variable overrides here

.page {
    margin-bottom: 0;
}


// Nav Section
.site-header {
    .navbar, .offcanvas {
        margin-top: 30px;
    }

    .menu {
        margin: 0;
        padding: 0;
    }
    
    a.gv-site-name {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        text-decoration: none;
        color: $primary;
        font-size: 2.25rem;
    }

    @media (max-width: 767px){
        .navbar, .offcanvas {
            margin-top: 0;
        }
    }
}

.offcanvas-title {
    font-weight: 600;
}

.offcanvas-body {

    padding: 0 30px 30px 30px;
    
    h5 {
        font-weight: 600;
    }

    .gv-follow-me {
        padding: 0;
        margin-top: 60px;
    }
    

    ul {
       margin: 0;
       padding: 0;
    }

    li {
        display: block;
        padding-right: 4px;
        margin: 8px 0;
       
        a {
            color: $secondary;
            text-decoration: none;
        }

        &:hover {
            color: $primary;
            text-decoration: underline;
            margin-left: 3px;
            font-weight: 500;
        }
    }

    i.bi.bi-linkedin, 
    i.bi.bi-github,
    i.bi.bi-youtube {
        font-size: 1.2rem;
        color: $secondary;
    }
}

.navbar-custom {
    background-color: $lavander;
}

// Hero Section
.hero-bg-section {
    background-color: $lavander;
}

.site-hero-section {
    margin-top: 60px;
    padding: 140px 20px;

    h1 {
        font-size: 3.375rem;
        font-family: "Merriweather", serif;
        font-weight: bold;
    }
    p {
        font-family: "Ubuntu", sans-serif;
        font-size: clamp(1rem, 2.5vw, 1.2rem);
        color: $secondary;
        line-height: 1.4;
        max-width: 650px;
        margin: 30px 0;
    }

    a {
        color: #FFF;
        font-size: clamp(1rem, 2.5vw, 1.2rem);

        &:hover,
        &:visited {
            color: #FFF;
        }
    }

    @media (max-width: 767px) {
        //styles here
            margin-top: 0px;
            padding: 60px 20px;
    }
}

//About Me Section & Latest Projects Shared Styles
.about-bg-section,
.portfolio-bg-section,
.gvblog-bg-section {
    background-color: $ghostWhite;
    padding: 80px 20px;

    .about-section,
    .portfolio-section,
    .gvblog-section {
        margin: 30px 0;

        h2 {
            font-family: "Merriweather", serif;
            font-weight: bolder;
            font-size: clapm(1.8rem, 2.5vw, 3.375rem);
        }

        h3 {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
        }

        p {
            font-family: "Ubuntu", sans-serif;
            color: $secondary;
            font-size: clamp(1rem, 2.5vw, 1.2rem);
        }

        ul {

            li {
                color: $secondary;
                font-size: 1.1rem;
                margin: 9px 0; 
            }
        }

        a {
            color: $gray;
            font-size: clamp(1rem, 2.5vw, 1.2rem);
            text-decoration: underline;
            font-weight: 500;
            font-family: "Ubuntu", sans-serif;
        }
    }
}

// Latest Projects Section

.portfolio-bg-section {
    background-color: #FFF;
}

.portfolio-section {
    .gvp_cpt {
        height: 300px;
        overflow: hidden;
        margin-bottom: 30px;
        border: 2px solid rgba(91, 110, 182, .4);
    }
}

//Portfolio Custom Post Type
.gv-single-post-page {

    h2 {
        font-family: "Merriweather", serif;
        font-weight: bolder;
        font-size: clapm(1.8rem, 2.5vw, 3.375rem);
    }

    a.cpt-gvp {
        color: $ghostWhite;
        margin: 30px 0; 
            
    }

    a.video-btn {
        background-color: red;
        margin-left: 9px;
    }

    p {
        font-family: "Ubuntu", sans-serif;
        color: $secondary;
        font-size: clamp(1rem, 2.5vw, 1.2rem);
    }

    ul {
        margin: 0;
        padding: 12px;

        li {
            color: $secondary;
            font-size: 1.1rem;
            margin: 9px 0; 
        }
    }


}


// GVCTA Section
.gvcta-bg-section {
    background-color: #5B6EB6;
    color: #FFF;
    padding: 80px 20px;
    font-size: 1.4rem;
    font-weight: bold;

    p {
        margin: 30px 0;
    }

    a {
        color: $primary;
        font-size: clamp(1rem, 2.5vw, 1.2rem); 

        &:hover,
        &:visited {
            color: $primary;
        }
    }
}

// Recent Blog Section
.gvblog-section {
    h3 {        
        a {
            font-size: clamp(1rem, 2.5vw, 1.4rem)!important; 
            font-family: "Ubuntu", sans-serif;
            font-weight: 500!important;
            text-decoration: none!important;
            color: $primary!important;
        }
    }

    small {
        color:$gray;
    }

    a.moretag {
        color: $primary;
    }
}


// Single Post Page Styles
.gv-single-post-page {
    margin: 100px 20px;

    article {

        .entry-header {
            margin-bottom: 30px;
        }
        .entry-title {
            font-family: "Merriweather", serif;
        }

        .entry-meta {
            font-size: .8rem;
            color: $gray;

            a {
                color: #5B6EB6;
                font-weight: bolder;
            }
        }

        p {
            color: $secondary;
            font-family: "Ubuntu", sans-serif;
            font-size: clamp(1rem, 2.5vw, 1.2rem); 
        }

        a {
            color: #5B6EB6;
            font-weight: bolder;
            font-family: "Ubuntu", sans-serif;
        }
    }

    aside {
        
        h3 {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-size: clamp(1.2rem, 2.5vw, 1.8rem);
        }

        ul {

            margin: 0;

            li {
                font-size: clamp(1rem, 2.5vw, 1.1rem); 
                margin: 9px 0;
                
                a {
                    color: $secondary;
                    text-decoration: none;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    
    }

    .post-navigation {
        a {
            font-size: clamp(.9rem, 2.5vw, 1rem);
            color: #5B6EB6;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }
}

//404 page
.notFound404 {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 66px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
    }

    p {
        text-align: center;
    }
}

//Archive Page
.gv-archive-page{
    margin: 100px 60px;

    article {
        width: calc(33% - 20px);
        display: inline-block;
        padding:  20px;
        vertical-align: text-top;

        .entry-header {
            margin-bottom: 30px;
        }

        h2 {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-size: clamp(1.2rem, 2.5vw, 1.8rem);

            a {
                text-decoration: none;
                color: $primary;
            }
        }

        .entry-meta {
            font-size: .8rem;
            color: $gray;

            a {
                color: #5B6EB6;
                font-weight: bolder;
            }
        }

        .entry-content {
            p {
                color: $secondary;
                font-family: "Ubuntu", sans-serif;
                font-size: clamp(1rem, 2.5vw, 1.2rem); 
            }           
        
        }

        .entry-footer {

            color: $secondary;
            font-family: "Ubuntu", sans-serif;
            font-size: clamp(1rem, 2.5vw, 1.2rem); 

            .cat-links {

                a {
                    color: #5B6EB6;
                    font-weight: bolder;
                }
            }
        }
    }
}

//Footer Section
.site-footer {
    background-color: #5B6EB6;

    .site-info {        
        
        padding: 90px 20px;

        p {
            font-size: 1.1rem;
        }
    }

    .copyright-section {
        color: white;
        background-color: $primary;
        padding: 2px 0;
        font-size: 1.1rem;
    }
}

footer {
    .widget {
        max-width: 300px;

        h5 {
            font-family: "Merriweather", sans-serif;
        }

        p, 
        li, 
        a {
            font-family: "Ubuntu", sans-serif;
            font-size: clamp(1rem, 2.5vw, 1.2rem);
            font-weight: 300;
        }

        h3.ftr-brand-name {
                font-weight: 200!important;
                font-family: "Ubuntu", sans-serif!important;
                font-weight: lighter!important;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                margin: 9px 0;

                a{
                    color: var(--bs-white-rgb);
                    text-decoration: none;

                    i.bi.bi-linkedin, 
                    i.bi.bi-github,
                    i.bi.bi-youtube {
                    font-size: clamp(1rem, 2.5vw, 1.1rem);
                    padding-right: 6px;
                    }
                    
                    &:hover{
                        font-weight: bolder;
                        margin-top: -3px;
                    }
                }
            } 
        }
    }
}